<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
            .nav-pills-custom .nav-link {
                color: #aaa;
                background: #fff;
                position: relative;
            }

            .nav-pills-custom .nav-link.active {
                color: #45b649;
                background: #fff;
            }


            /* Add indicator arrow for the active tab */
            @media (min-width: 992px) {
                .nav-pills-custom .nav-link::before {
                    content: '';
                    display: block;
                    border-top: 8px solid transparent;
                    border-left: 10px solid #fff;
                    border-bottom: 8px solid transparent;
                    position: absolute;
                    top: 50%;
                    right: -10px;
                    transform: translateY(-50%);
                    opacity: 0;
                }
            }

            .nav-pills-custom .nav-link.active::before {
                opacity: 1;
            }

            .pdng{
                padding-top: 13px;
                height: 320px;
            }

            body {
                min-height: 100vh;
            }
        </style>
    </head>
<body>
    <div class="container">
    <h2>Modal Example</h2>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Open modal
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <section class="py-5 header">
                    <div class="container py-4">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- Tabs nav -->
                                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                        <i class="fa fa-user-circle-o mr-2"></i>
                                        <span class="font-weight-bold small text-uppercase">Personal information</span></a>

                                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                        <i class="fa fa-calendar-minus-o mr-2"></i>
                                        <span class="font-weight-bold small text-uppercase">Bookings</span></a>

                                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                        <i class="fa fa-star mr-2"></i>
                                        <span class="font-weight-bold small text-uppercase">Reviews</span></a>

                                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                        <i class="fa fa-check mr-2"></i>
                                        <span class="font-weight-bold small text-uppercase">Confirm booking</span></a>
                                    </div>
                            </div>


                            <div class="col-md-9">
                                <!-- Tabs content -->
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade shadow rounded bg-white show active pdng" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                        <div class="col-12">
                                           <div class="row">
                                                <div class="col-4">
                                                    <label for=""><b>Interview Level</b><span style="color:red;">*</span></label>
                                                    <select class="form-control" name="" id="">
                                                        <option value="1">First Interview</option>
                                                        <option value="2">Second Interview</option>
                                                        <option value="3">Third Interview</option>
                                                        <option value="4">Fourth Interview</option>
                                                        <option value="5">Final Interview</option>
                                                    </select>
                                                </div>
                                                <div class="col-4">
                                                    <label for=""><b>Interview Mode</b><span style="color:red;">*</span></label>
                                                    <select class="form-control" name="" id="">
                                                        <option value="Face to Face">Face to Face</option>
                                                        <option value="teleCon">TeleCon</option>
                                                        <option value="vc">Video Conference</option>
                                                    </select>
                                                </div>
                                                <div class="col-4">
                                                    <label for=""><b>Interview Date & Time</b><span style="color:red;">*</span></label>
                                                    <input class="form-control" type="date" id="" name="date">
                                                </div>
                                                <div class="col-4">
                                                    <label for=""><b>Interview Duration</b><span style="color:red;">*</span></label>
                                                    <select class="form-control" id="" name="interview_time_period">
                                                        <option selected>Duration</option>
                                                        <option>30 Mins.</option>
                                                        <option>45 Mins.</option>
                                                        <option>1 Hr</option>
                                                        <option>2 Hrs</option>
                                                        <option>3 Hrs</option>
                                                    </select>
                                                </div>
                                                <div class="col-4">
                                                    <label for=""><b>Interview Venue</b><span style="color:red;">*</span></label>
                                                    <textarea name="venue" id="" class="form-control"></textarea>
                                                </div>
                                                <div class="col-4">
                                                    <label for=""><b>Choose Spoc</b><span style="color:red;">*</span></label>
                                                    <select class="form-control" id="spoc{{$res_show ->id}}" name="spoc_interview">
                
                                                        <option>Choose Spoc</option>
                                                        
                                                    </select>
                                                </div>
                                                <div class="col-4">
                                                    <label for=""><b>Contact Person</b><span style="color:red;">*</span></label>
                                                    <input type="text" class="form-control">
                                                    
                                                </div>
                                                <div class="col-4">
                                                    <label for=""><b>Contact No.</b><span style="color:red;">*</span></label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-4">
                                                    <label for=""><b>Additional Info</b></label>
                                                    <textarea name="" id="" class="form-control"></textarea>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                        <h4 class="font-italic mb-4">Bookings</h4>
                                        <p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                    
                                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                        <h4 class="font-italic mb-4">Reviews</h4>
                                        <p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                    
                                    <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                        <h4 class="font-italic mb-4">Confirm booking</h4>
                                        <p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            
        </div>
        </div>
    </div>
    </div>
</body>
</html> 
